<footer class="footer">
    <div class="container">
        <hr>
        <div class="row">
            <div class="col-md-4">
                <a href="" class="footer-logo">
                <img width="60" height="60" alt="" src="assets/img/logo/logo-2.png" style="display: inline;">
                </a>
            </div>
            <div class="col-md-8 copyright-text"> 
                <p class="footer-copyright" style="color:white">
                    <span>© 2023 aglet.co.za, All rights Reserved</span>
                    {# <a href="" style="text-decoration:none;color:white">Site Map</a> #}
                    <li class="nav-item dropdown">
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Site Map
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="home">Popular Movies</a></li>  
                        <li><a class="dropdown-item" href="contact">Contact</a></li>
                        <li><a class="dropdown-item" href="login">Login</a></li>
                    </ul>
                    </li>
                </p>
            </div>
        </div>
    </div>
</footer>

